/* Universal reset */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Global settings */
:root{
    --color-primary: #ffa500;
    --color-default: #7c7a7a;
    --color-dark: #3d3b3b;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-default);
    background-color: #f5f5dc;
}

/* Utilities */
.fw.bold{
    font-weight: 700;
}

.text-dark{
    color: var(--color-dark);
}