/* Universal reset */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Global settings */
:root{
    --color-primary: #ffa500;
    --color-default: #7c7a7a;
    --color-dark: #3d3b3b;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-default);
    background-color: #f5f5dc;
}

/* Utilities */
.fw.bold{
    font-weight: 700;
}

.text-dark{
    color: var(--color-dark);
}

.text-center{
    text-align: center;
}

.title{
    color: var(--color-dark);
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.title-sm{
    font-size: 1.6rem;
}

/* Layout - building blocks */
.flex-grid{
    display: flex;
    flex-direction: column;
}

.container{
    width: 98%;
    max-width: 120rem;
    margin: 0 auto;
}

/* Reusable components */

.card{
    padding: 2.5rem 3rem;
    background-color: white;
    border-radius: .8rem;
}

.badge{
    padding: .5rem 1.2rem;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 700;
}

.badge-primary{
    background-color: var(--color-primary);
}

.btn{
    display: inline-block;
    padding: .5rem 1.2rem;
    border: none;
    color: currentColor;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: inherit;
    border-radius: 3px;
    text-decoration: none;
}

.btn-primary{
    background-color: var(--color-primary);
}

.btn:focus{
    outline: none;
}
/* Main header */

.header, .info, .info-action, .footer{
    margin-top: 1.8rem;
}

.header-title{
    font-family: 'Lobster', cursive;
    font-size: 6.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.header-img{
    width: 100%;
}

.intro-text{
    margin-top: 1.8rem;
}

.intro-img{
    max-width: 35rem;
}

/* Media queries */

/* Ovo je deo u kodu koji zapravo definise kako ce stranica izgledati na dekstopu, a kako na mobilnom telefonu */
@media(min-width: 56.25em){
    .flex-grid{
        flex-direction: row;
    }

    .col{
        flex: 1;
    }

    .header-img{
        max-width: 35rem;
    }

    .header-title{
        font-size: 12rem;
        margin-bottom: 2.5rem;
    }
    
    .intro-img{
        margin-left: 2rem;
    }

    .feature-title{
        font-size: 5rem;
    }

    .feature-btn{
        margin: 2rem 0;
        width: 100%;
        padding: 1.4rem;
    }

    .feature-list{
        margin-left: 1.6rem;
        font-size: 1.4rem;
    }

    .feature-list-item:not(:first-child){
        margin-top: ;
    }

    .footer{
        background-color: #f5f5f5;
        padding: 6rem;
    }

    .form-container{
        background-color: white;
        max-width: 43rem;
        width: 100%;
        display: flex;
        box-shadow: 0 1px 14px 0 rgba(0,0,0,0.8);
        border-radius: 4px;
        overflow: hidden;
        flex-direction: column;
    }

    .form-input{
        background-color: white;
        border: none;
        padding: 1.4rem;
        flex: 1;
        color: currentColor;
        font-size: 1.6rem;
        font-weight: 300;
    }

    .form-input:focus{
        outline: none;
    }


    .form-input::placeholder{
        color: #cccccc;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .patreon{
        margin-top: 2.4rem;
    }

    .patreon-title, .social-title{
        font-size: 1.3rem;
        max-width: 37rem;
        margin-bottom: 1rem;
    }

    .info-action{
        max-width: 36rem;
        margin-top: 0;
        margin-left: 2.4rem;
    }

    .form-container{
        align-items: center;
        flex-direction: row;
    }

    .form-btn{
        margin: 0 1rem;
    }
}